<ion-header class="ion-no-border">
  <app-header-admin [back]="false" [title]="'Dashboard'"></app-header-admin>
</ion-header>

<ion-content>
  <ion-grid class="profile">
    <ion-row>
      <ion-col size="2">
        <ion-avatar>
          <img src="../../../assets/imgs/logo-imperio.jpeg" />
        </ion-avatar>
      </ion-col>

      <ion-col size="10">
        <ion-row class="mg-left-35">
          <ion-col>
            <h3 class="ion-no-margin ion-no-padding font-white ion-text-uppercase">Império WM</h3>
          </ion-col>
        </ion-row>

        <ion-row class="mg-left-35">
          <ion-col>
            <h5 class="ion-no-margin ion-no-padding font-warning ion-text-lowercase">emAil@teste.com.br</h5>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <div class="performance">
          <ion-row class="ion-text-center">
            <ion-col size="5" class="inline-flex">
              <ion-icon class="avatar-icon font-warning" name="person-circle-outline"></ion-icon>
              <p class="font-s-12 font-warning ion-text-uppercase">MEU PERFIL</p>
            </ion-col>

            <ion-col size="7" class="inline-flex">
              <ion-icon class="avatar-icon font-warning" name="storefront-outline"></ion-icon>
              <p class="font-s-12 font-warning ion-text-uppercase">VENDER AGORA</p>
            </ion-col>
          </ion-row>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid>
    <ion-row>
      <ion-col>

      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
